/*general*/

$first-color: #1C1C1C;
$sec-color:#505050;
$third-color:#FF9500;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

@mixin mobile($size) {
    @media screen and (max-width:$size) {
        @content;
    }
}

/*general*/

.title {
    text-align: center;
    padding-top: 2rem;
    color: $first-color;
}

.calculator {

    padding: 1rem;
    width: 30%;
    margin: 2rem auto;
    font-size: 1.3rem;
    border-radius: 20px;
    background-color: $first-color;
    color: white;

    @include mobile(900px) {
        width: 50%;
    }

    @include mobile(500px) {
        width: 80%;
    }
}

.calculator__screen {
    border: 1px solid;
    height: 55px;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    background-color: white;
    color: black;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    padding: 1rem;
}

.calculator__btns {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-items: center;

    @include mobile(400px) {
        height: auto;
    }
}

.btn {

    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    cursor: pointer;

    @include mobile(400px) {
        height: 30px;
        width: 30px;
        padding: 1rem;
    }

}

.op-js {
    background-color: $third-color;

}

.num-js,
.sp-js {
    background-color: $sec-color;
}

.zero {
    grid-column: 1/4;
}


.footer {
    margin-top: auto;
    background-color: $first-color;
    color: $third-color;
    text-align: center;

    padding: 1rem;
}